extends layout

block content
  h1= title
    body
      div.content
        p Voluntier is a place where you can find people in need of volunteer or create listings. With this app you can create adds where you can ask for help or look for help. We have knowledge, skills, and opportunities to offer, and we can all benefit from each other's experience. There are lots of ways to do well in theworld, and Idealist provides a neutral space for people and organizations from all points of view to turn their good intentions into action. Idealist does not endorse or promote any program or organization over any other. Whatever you’re good intentions are, we hope Idealist will help you find a way to turn them into action.
