extends layout

block content
  h1= title
    body
      div.content
        p.fontsize Voluntier is a place where you can find people in need of volunteer workers or sign up for volunteer work. With this app you can create events where people can sign up for the event you created. We have knowledge, skills, and opportunities to offer, and we can all benefit from each other's experience. Voluntier in Coalinga would be aimed at High School students who need to complete 60 hours of community service work to graduate, however it would also help other people in the community to become more involed. Voluntier would help people who can't do all the work by themselves. There are lots of ways to do well in the world, and Voluntier provides a neutral space for people and organizations from all points of view to turn their good intentions into action. Whatever you’re good intentions are, we hope Voluntier will help you find a way to turn them into action.
