doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css", attr)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body      
    nav.navbar.navbar-default.navbar-fixed-top
        .navbar-header         
          ul.nav.navbar-nav
            li
              a.navtext(href="/") Home
            li
              a.navtext(href="/event") Events
            li
              a.navtext(href="/create") Create Event
    .jumbotron
      .container
        img(src="images/logo1.png" class="img-responsive" alt="Responsive image")
    block content

  
