doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  body      
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header         
          ul.nav.navbar-nav
            li
              a.navtext(href="/") Home
            li
              a.navtext(href="/event") Events
            li
              a.navtext(href="/create") Create Event
            li
              a.navtext(href="/signup") Sign Up
            li
              a.navtext(href="/signup") Login
    .jumbotron
      .container
    block content
