body {
background-color: #CFE5F8;
position: relative;
 margin: 0;
 padding-bottom: 6rem;
 min-height: 100%;

}
.wrapper{
  background-color: red;
  height:100%;
  width: 100%;
  background-image: url("/images/imageforvoluntier.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

a {
  color: black;
  border-right:1px solid #bbb;

}

.jumbotron  {
  height: 400px;
  background-image: url("/images/imageforvoluntier.jpg");
  background-size: cover;
  background-position: center;

}

h1{
  text-align: center;
}

p {
  font-size: 20px;
  font-family: "Times New Roman";
  text-align: center;
}

.content {
  width: 70%;
  margin: auto;
}

nav.navbar.navbar-default.navbar-fixed-top {
  background-color: #333333;
  float: left;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #333333;
  background-color: #CFE5F8;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.fontsize{
  font-size: 100%;
}
.img-responsive {
  display: block;
  margin: auto;
  margin-top: 130px;
  height: 200px;
}
a#eventbtn{
  margin: 20px;
}

article.item {
  text-align: center;
  font-size: 120%;
}

section.get {
  text-align: center;
}

label {
  vertical-align: top;
}
